node_modules
.env
.vscode
.directorymap
.DS_Store/

__pycache__/
**/__pycache__/
.pyc
.pyo

data-accumulation-pipeline
all_media

*.mp3
*.opus
*.mp4
*.lrc
*.flac

frontend/public/assets/album-arts/*.jpg
songs/
data/*.json
songs.db
*.db

